body {
    background-color: #4BB3C9;
}

.backgroundblur {
    background-image: url(../img/hill2.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(20px);
    height: 100vh;
    /* z-index: -4; */
} 

.container {
    display: inline-block;
    width: 800px;
    /* left: calc( (100% - 800px) / 2);
    top: calc( (100% - 400px) / 2); */
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    /* elemento plocio ir aukscio atzviliu patrauk ji atgal per puse elemento dydzio - tai pastato elemta i centriuka */
    
}


    .left-column {
        display: inline-block;
        width: 40%;
        padding: 40px;
        padding-bottom: 20px;
        background-color: #0069BA;
        background-image: url(../img/hill2.jpg);
        background-size: cover;
        background-position: center;
        color: #fff;
        position: absolute;
        top: 30px;
        bottom: 30px;
        /* z-index: -2; */
    }

    /* .left-column::after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(65, 43, 122);
        opacity: 0.6;
        z-index: -1;
    } */

        .page-title {
            display: inline-block;
            width: 100%;
            
        }

        .bottom-links {
            position: absolute;
            bottom: 20px;
            left: 40px;
            right: 40px;
        }

            .bottom-links > .link {
                color: white;
            }

            /* .bottom-links > .text {
                
            } */

        .right-column {
            /* display: inline-block; */
            width: 60%;
            float: right;
            padding: 60px;
            background-color: #fff;
            position: relative;
        }

            .close {
                    display: inline-block;
                    width: 60px;
                    height: 60px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    line-height: 60px;
                    text-align: center;
            }

            .close:hover {
                cursor: pointer;
            }

            