.form {
    display: inline-block;
    width: 100%;
    background-color: white;
}

    .form-row {
        display: inline-block;
        width: 100%;
        margin-bottom: 30px;
    }

        .form-row:last-of-type {
            margin-bottom: 0;
        }

        .label {
            display: inline-block;
            width: 100%;
            margin-bottom: 5px;
            font-size: 13px;
            line-height: 15px;
            text-transform: uppercase;
        }

        .input {
            display: inline-block;
            width: 100%;
            font-size: 18px;
            line-height: 25px;
            border: none;
            border-bottom: 1px solid #777;
            
        }

            .input:focus {
                outline: 3px solid #0069ba;
            }

            

        form-row > .text {
            display: inline-block;
            line-height: 40px;
            font-size: 18px;
            padding: 10px;
        }

        form-row > .link {
            display: inline-block;
            line-height: 40px;
            font-size: 18px;
            padding: 10px;
        }

        .form-row:hover > .link{
            color: teal;
        }