body,
body * {
        box-sizing: border-box;
        background-color: rgb(124, 214, 226);
        margin: 0;
        padding: 0;
        vertical-align: top;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}